// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments {
			.comment {
				border-bottom: 1px solid #d1d1d1;
				padding-bottom: 1em;
				margin-bottom: 1em;
				.content {
					width: 75%;
					float: left;
			}
			.buttons {
					width: 25%;
					float: left;
					font-size: .8em;
					text-align: right;
					padding-top: 1.5em;
					a {
						color: #397CAC;
						border: 1px solid #397CAC;
						padding: .5em 1em;
						border-radius: 0.2em;
						text-decoration: none;
						margin-right: 2%;
				}
			}
			.comment_content {
					margin: 0;
					padding: 0;
			}
			.comment_author {
					color: #397CAC;
					margin-top: .5rem;
					font-size: 0.6em;
					font-weight: 700;
			}
		}
		input[type="submit"] {
				background: #397CAC;
				border: none;
				color: white;
				font-weight: 100;
				padding: .5em 1em;
				border-radius: .2em;
		}
		textarea {
				width: 100%;
				min-height: 200px;
				border: 1px solid #d1d1d1;
				border-radius: .2em;
				margin: 1em 0;
		}
	}
	
